<p> A user at this email requested a password reset for Rider App. To reset your password, follow this link. </p>

<%= @password_reset_link %>

<p> If you did not request a password reset, please delete this email. </p>
